<%= render 'layouts/header' %>
<div class="container">
  <h1 class="text-center">Master Schedule</h1>
  <br />
  <div class="jumbotron">
    <table class="table">
      <thead>
        <th>Employee</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.full_name %></td>
            <% user.week_shifts.each do |shift| %>
              <% if Date.parse(shift.start_time).monday? %>
                <td><%= shift.pretty_time %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
